<div class="container">
  <button class="delete-item" *ngIf="canDelete()" (click)="deleteItem()">
    حذف کالا
  </button>
  <img class="product-image" src="../../../../../assets/images/nintendo.jpg" [alt]="product.title"/>

  <span class="product-title">
    <strong>
      {{product.title}}
    </strong>
  </span>

  <span class="product-price">
    {{product.price}} تومان
  </span>
  <div class="add-to-cart">
    <button class="add-button" (click)="addToCart()" *ngIf="loginService.getUser().type === 'buyer'">
      افزودن به سبد خرید
    </button>
  </div>
</div>
