.container {
  width: 20vw;
  background-color: white;
  height: 63vh;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  justify-content: center;
  padding-top: 1%;
  box-sizing: border-box;
  margin-left: 2px;
  z-index: 1;
  &:hover {
    border: none;
    box-shadow: 0 0 20px grey;
    cursor: pointer;
    transition: box-shadow 0.2s linear;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 65vw;
    margin-right: 2vh;
  }
  .add-to-cart {
    height: 12vh!important;
  }

  .product-title {
    span {
      width: 15vw!important;
    }
  }
  .product-image {
    height: 50%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
  .container {
    width: 40vw;
  }
  .add-to-cart {
    height: 12vh!important;
  }

  .product-image {
    margin-top: 7%;
    height: 50%;
  }
}

.product-title {
  height: 10vh;
  width: 100%;
  text-align: center;
  color: grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    background-color: #851058;
    color: white;
    width: 7vw;
    font-weight: bold;
    cursor: default;
    height: 4vh;
    border-radius: 5px;
  }
}

.product-image {
  width: 90%;
  box-sizing: border-box;
  padding-right: 5%;
  height: 70%;
}

.product-price {
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
}

.add-to-cart {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  height: 10vh;
  padding: 5%;
}

.add-button {
  width: 90%;
  margin-right: 5%;
  box-sizing: border-box;
  height: 100%;
  background-color: #fa1aa7;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    border: 2px solid white;
    box-shadow: 0 0 0 2px #fa1aa7;
    transition: box-shadow 0.2s linear;
  }

}

.item-number {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  align-items: center;
  button:first-of-type {
    background-color: white;
    border: 1px solid #fa1aa7;
    height: 30%;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  span {
    height: 30%;
    font-size: small;
  }
  button:last-of-type {
    background-color: white;
    border: 1px solid #fa1aa7;
    height: 30%;
    width: 100%;
    border-radius: 0 0 20px 20px;

  }
  button:first-of-type, button:last-of-type {
    &:hover {
      cursor: pointer;
      box-shadow:  0 0 0 2px #fa1aa7;
    }
  }
}

.delete-item {
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  width: 100%;
  //height: 0%;
  &:hover {
    background-color: mediumvioletred;
    transition: background-color 0.5s linear;
    color: white;
  }
}
