<div class="container">
  <button class="delete-item" *ngIf="canDelete()" (click)="deleteItem()">
    حذف کالا
  </button>
  <img class="product-image" [src]="product.image ? product.image: '../../../../../assets/images/No_Image.jpg'"
       [alt]="product.title"
       routerLink="/products/{{product.id}}"/>

  <span class="product-title">
    <strong>
      {{product.title}}
    </strong>
    <span *ngIf="product.express">
      فروش ویژه
    </span>
  </span>

  <span class="product-price">
    {{product.price}} تومان
  </span>
  <div class="add-to-cart">
    <button class="add-button" (click)="addToCart()" *ngIf="isLoggedIn() && getUser().type === 'buyer'">
      افزودن به سبد خرید
    </button>
    <button class="add-button" (click)="makeExpress()" *ngIf="isLoggedIn() && getUser().type === 'vendor' && showExpress()
    && !product.express">
      ویژه
    </button>
  </div>
</div>
