<div class="container">
  <img class="product-image" src="../../../../../assets/images/nintendo.jpg" [alt]="product.title"/>
  <span class="product-title">
    <strong>
      {{product.title}}
    </strong>
  </span>

  <span class="product-price">
    {{product.price}}تومان
  </span>
  <div class="add-to-cart">
    <div class="item-number">
      <button (click)="numberOfItems = numberOfItems + 1;">

      </button>
      <span>
        {{numberOfItems}}
      </span>
      <button (click)="numberOfItems = numberOfItems > 2 ? numberOfItems - 1 : 1">

      </button>
    </div>
    <button class="add-button" (click)="addToCart()">
      افزودن به سبد خرید
    </button>

  </div>

</div>
