<nav>
  <a id="title" routerLink="/home">
    چابک مارکت
  </a>
  <app-top-search></app-top-search>
  <button id="login" routerLink="/auth/sign-in" *ngIf="!tokenHandlerService.getRefresh()">
    ورود به حساب کاربری
  </button>
  <button id="logout" *ngIf="tokenHandlerService.getRefresh()" (click)="logout()">
    خروج
  </button>
  <button id="panel" *ngIf="tokenHandlerService.getRefresh()"
          class="panel" routerLink="/vendor-profile">
    پنل کاربری
  </button>
  <button class="cart" id="cart">
    <mat-icon svgIcon="cart" class="icon" [matBadge]="itemsNumber" matBadgeColor="accent" matBadgePosition="below before"
              matBadgeSize="small"></mat-icon>
  </button>
</nav>
<app-categories></app-categories>
