nav {
  position: fixed;
  top: 0;
  border-bottom: 1px solid lightgrey;
  width: 100vw;
  height: 8vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 5%;
  z-index: 100;
}
#title {
  width: 15%;
  color: mediumvioletred;
  font-size: large;
  font-weight: bolder;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

#login, #logout, #username, .panel, .cart {
  width: 10%;
  border: 1px solid grey;
  height: 5vh;
  margin-right: 1%;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  &:hover {
    cursor: pointer;
    border-color: mediumvioletred;
    box-shadow: 0px 0px 5px;
    color: mediumvioletred;
  }
}
#logout, #login {
  margin-right: 32%;
}
#logout, .panel {
  width: 5%;
  left: 15% !important;
  font-size: x-small;
}
.panel {
  left: 9% !important;
  font-size: x-small !important;
}
@media screen and (max-width: 900px) {
  #login, #logout, #username {
    font-size: 8px;
    font-weight: bolder;
  }
  #login, #logout {
    margin-right: 2%;
  }
}

.cart {
  left: 7vw;
  width: 2vw;
  //display: flex;
  box-sizing: border-box;
  padding-left: 2%;
  z-index: 100;
  //align-items: center;
  //justify-content: center;
  .icon {
    box-sizing: border-box;
    width: 2vw;
    height: 2vh;
  }
}
.focus-cart {
  box-shadow: 0 0 6px #fa1aa7;
  border: none;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 8vw;
  padding: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow:  0 0 4px #fa1aa7;
  z-index: 100 !important;
  border-radius: 10px;
  min-height: 20vh;
  height: auto;
  width: 15vw;
  background-color: white;
}

.order-button {
  background-color: #fa1aa7;
  border: 1px solid white;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
  height: 5vh;
  color: white;
  border-radius: 10px;
  margin-top: 1vh;
  align-self: center;
  margin-bottom: 1vh;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px #fa1aa7;
  }
}

.cart-item {
  height: 4vh;
  display:flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  span {
    color: dimgrey;
  }
}
