nav {
  position: fixed;
  top: 0;
  border-bottom: 1px solid lightgrey;
  width: 100vw;
  height: 8vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 5%;
}
#title {
  width: 15%;
  color: mediumvioletred;
  font-size: large;
  font-weight: bolder;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

#login, #logout, #username, .panel {
  width: 10%;
  position: absolute;
  border: 1px solid grey;
  height: 5vh;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  left: 10%;
  &:hover {
    cursor: pointer;
    border-color: mediumvioletred;
    box-shadow: 0px 0px 5px;
    color: mediumvioletred;
  }
}
#logout, .panel {
  width: 5%;
  left: 15% !important;
  font-size: x-small;
}
.panel {
  left: 9% !important;
  font-size: x-small !important;
}
@media screen and (max-width: 900px) {
  #login, #logout, #username {
    font-size: 8px;
    font-weight: bolder;
  }
}
