<nav>
  <a id="title" routerLink="/home">
    چابک مارکت
  </a>
  <app-top-search></app-top-search>
  <button id="login" routerLink="/auth/sign-in" *ngIf="!isLoggedIn()">
    ورود به حساب کاربری
  </button>
  <button id="logout" *ngIf="isLoggedIn()" (click)="logout()">
    خروج
  </button>
  <button id="panel" *ngIf="isLoggedIn()"
          class="panel" (click)="goToPanel()">
    پنل کاربری
  </button>
  <button class="cart" *ngIf="canShowCart()" id="cart" (click)="onCartClick()" [ngClass]="cartClass">
    <mat-icon svgIcon="cart" class="icon" [matBadge]="itemsNumber" matBadgeColor="accent" matBadgePosition="below before"
              matBadgeSize="small">
    </mat-icon>
    <span class="dropdown" *ngIf="cartClick">
      <span *ngFor="let item of cartItems" class="cart-item">
        <span>
          {{item.title}}
        </span>
        <span (click)="deleteItem(+item.id)">
          <mat-icon svgIcon="bin" >
          </mat-icon>
        </span>
      </span>
      <button class="order-button">
        سفارش دهید
      </button>
    </span>
  </button>
</nav>
<app-categories></app-categories>
