#top-search {
  width: 30vw;
  height: 6vh;
  padding: 3%;
  border-radius: 10px;
  border: none;
  background-color: #f0f0f1;
  &:focus {
    outline: none;
    background-color: white;
    box-shadow:  0 0 4px #fa1aa7;
  }
}

@media screen and (max-width: 700px) {
  #top-search {
    width: 60vw;
  }
}
