@import "src/assets/sass/buttons";
.dropdown-list {
  position: absolute;
  top: 110%;
  min-width: 140%;
  min-height: 10vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 4px grey;
  border-radius: 5px;
  a {
    width: 90%;
    color: grey;
    //background-color: white;
    font-weight: 500;
    height: 5vh;
    padding-left: 10%;
    padding-top: 10%;
    cursor: pointer;
    &:hover {
      background-color: #eaeaea;
    }
  }

}

.dropdown-button {
  width: 100%;
  height: 100%;
  background-color: white;
  cursor: pointer;
  color: grey;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  outline: none;
  &:hover {
    background-color: #eaeaea;
  }
}
.mat-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.container {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
}
