@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  overflow-x: hidden;
  //overflow-y: auto;
  background-color: #f2f2f2;
  font-family: "Vazir", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.3em;
}
body::-webkit-scrollbar-thumb {
  background-color: #fa1aa7;
}
body::-webkit-scrollbar-track {
  background-color: white;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-items: center;
  margin-right: 7vw;
  margin-top: 15vh;
  padding-right: 0;
  li {
    list-style-type: none;
  }
  mat-select {
    width: 83%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 5px;
    height: 5vh;
    border:  1px solid lightgrey;
    color: dimgrey!important;
    .mat-select-value {
      color: dimgrey !important;
    }
  }
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #fa1aa7;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.buyer-account-details {
  position: fixed;
  height: 40vh;
  width: 20%;
  background-color: white;
  margin-top: 4.5vh;
  border: 1px solid lightgrey;
  margin-right: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.username {
  color: dimgrey;
  height: 7vh;
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 2px dashed lightgrey;

}

.phone-number, .address {
  font-size: small;
  color: dimgrey;
  display: flex;
  height: 5vh;
  flex-direction: column;
  align-items: center;
  span:last-of-type {
    direction: ltr;
    input {
      border-width: 0 0 1px 0;
      border-color: #b9b9b9;
    }
    button {
      color: white;
      border: none;
      background-color: #851058;
      border-radius: 5px;
      &:hover {
        background-color: mediumvioletred;
        cursor: pointer;
      }
      &:disabled {
        background-color: #4d4d4d;
      }
    }
  }
}
.address {

  span:last-of-type {
    direction: rtl;
  }
}

.credit {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  border: 2px dashed #fa1aa7;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
  span:first-of-type {
    color: #4d4d4d;
  }
  span:last-of-type {
    color: #4d4d4d;
    font-weight: bold;
    font-size: large;
  }
}

.increase-credit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button {
    background-color: #851058;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: small;
    &:hover {
      background-color: mediumvioletred;
      cursor: pointer;
    }
  }
  input {
    border-width: 0 0 1px 0;
    border-color: #b9b9b9;
  }
}
