<main>
  <app-top-nav></app-top-nav>
  <aside>
  </aside>
  <section>
    <div class="sort-buttons">
      <button (click)="sort('ascending')">
        صعودی
      </button>
      <button (click)="sort('descending')">
        نزولی
      </button>
    </div>
    <ul class="products-list">
      <li *ngIf="products.length === 0">
        کالایی یافت نشد
      </li>
      <li *ngFor="let product of products">
        <app-product-list-item [product]="product" ></app-product-list-item>
      </li>
    </ul>
  </section>
</main>
